* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Det overordnede slider komponent */

.slider {
    padding : 20px;
    margin: 10px;
    
}



/* Slider Buttons område */

.slider .slider-buttons {

    justify-content: space-between;
    display: flex;
    margin: 10px 0 0 0;
}

.next, .previous {
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: white;
}




/* Billedet i det enkelte slide */

.slider .image-in-slide{
    
    border-radius: 32px;
    max-height: 85vh;
    width: 100%;
    object-fit: cover;

}
